/* HEADING */

main h1{
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

#storage-select{
  display: block;
  font-size: 1.5em;
  margin: 0 auto;
}

#storage-container > p{
  text-align: center;
  font-size: 1.5em;
}

/* BOOK PROFILE */

#storage-container .book-container{
  margin-bottom: 0;
}

/* REMOVE BUTTON */

.remove-match{
  width: 100%;
  font-size: 1.5em;
  color: white;
  background-color: rgb(100,0,0);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 1em;
  transition: 1s;
}

.remove-match:hover{
  background-color: red;
  letter-spacing: 0.4em;
}

/* ===========================BREAK================================ */

@media (min-width: 800px){

  /* PAGE-WIDE CONTAINER */

  #storage-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  /* OVERALL MATCH */

  #storage-container .match-container{
    width: 48%;
  }

  #storage-container .book-container{
    flex-direction: column;
  }

  /* COVER */

  #storage-container .cover-container img{
    margin: 0 auto;
    margin-bottom: 1em;
    transition: 3s;
  }

  #storage-container .cover-container img:hover{
    height: 500px;
    width: 350px;
  }

}
