/* GLOBAL */

body{
  margin: 0;
  padding: 0;
  font-family: Arial;
}

a{
  text-decoration: none;
  color: white;
  transition: 1s;
}

a:hover{
  color: brown;
}

button:hover{
  cursor: pointer;
}

.site-container{
  margin: 0;
  padding: 0;
  width: 100%;
}

/* NAVIGATION */

nav ul {
  display: flex;
  justify-content: space-around;
  margin: 1em 0;
  padding: 1em;
  width: 100%;
  background-color: rgb(200,161,120);
  list-style-type: none;
}

nav li{
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Roboto Slab', serif;
  text-transform: lowercase;
}

/* HEADLINE */

.header-text{
  text-align: center;
  font-family: 'Playfair Display', serif;
  margin-bottom: 3em;
}

.header-text h1{
  font-size: 5em;
  margin-bottom: 0;
}

.header-text h2{
  font-size: 1em;
  margin-top: 0;
}

/* MAIN: ALL INPUT FIELDS */

.options-div{
  text-align: center;
}

.options-div h3{
  font-size: 1.5em;
}

/* SELECT FIELD */

.genre-form{
  margin-bottom: 5em;
}

select{
  font-size: 3em;
}

/* NUMBER FIELD */

.number-form{
  margin-bottom: 5em;
}

.number-form h3{
  margin-bottom: 0.5em;
}

.number-form p{
  font-size: 1em;
  margin: 0;
  margin-bottom: 1em;
}

/* found this solution here: https://www.thatstevensguy.com/programming/disable-arrows-on-number-inputs/ */
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]{
  font-size: 3em;
  text-align: center;
}

/* GO BUTTON */

.go-div{
  text-align: center;
  margin: 3em;
}

.go-div button{
  font-size: 3em;
  padding: 1em;
  border-radius: 1em;
  background-color: rgb(50,100,50);
  color: white;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  transition: 1s;
}

.go-div button:hover{
  background-color: rgb(50,150,50);
}

/* MODAL */

.hidden{
  display: none;
}

#modal{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

#modal-textbox{
  background-color: rgb(200,161,120);
  text-align: center;
  font-family: 'Roboto Slab', serif;
  padding: 1em;
  margin: 15em auto;
}

#modal h3{
  margin-bottom: 0;
}

#modal p{
  margin-top: 0;
}

#modal input[type=text]{
  font-size: 1.5em;
}

#modal button{
  font-size: 1.5em;
  border-radius: 0.5em;
  transition: 1s;
}

#modal button:hover{
  background-color: rgb(200,200,200);
}

#exit{
  text-align: left;
}
