
/* OVERALL RESULT */

.results-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#result .book-container{
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  margin: 1em 0;
  padding: 1em 0.5em;
  background-color: rgba(0,0,0,0.5);
}

/* COVER */

#result .cover-container{
  display: flex;
  align-items: center;
}

#result .cover-container img{
  height: 400px;
  width: 250px;
  box-shadow: 4px 6px rgba(0,0,0,0.4);
  border-radius: 1em;
  margin: 1em;
}

/* DETAILS */

#result .details-container{
  padding: 0 1em;
  background-color: rgba(0,0,0,0.4);
  color: white;
  font-family: 'Roboto Slab', serif;
  border-radius: 1em;
}

#result .details-container ul{
  list-style-type: none;
  font-size: 1.5em;
  font-family: Arial;
  line-height: 1.5;
}

#result .details-container button {
  background-color: white;
}

/* PREV AND NEXT BUTTONS */

#prev, #next{
  background-color: rgb(200,161,120);
  color: white;
  margin: 0 auto;
  text-align: center
  font-size: 4em;
  padding: 2em;
}

#prev:hover, #next:hover{
  background-color: rgb(150,111,70);
}
