.result{
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  margin: 1em 0;
  padding: 1em 0.5em;
  background-color: rgba(0,0,0,0.5);
}

.cover-container{
  display: flex;
  align-items: center;
}

.cover-container img{
  height: 400px;
  width: 250px;
  box-shadow: 4px 6px rgba(0,0,0,0.4);
  border-radius: 1em;
  margin: 1em;
}

.details-container{
  background-color: rgba(0,0,0,0.4);
  color: white;
  font-family: 'Roboto Slab', serif;
  border-radius: 1em;
}

.details-container ul{
  list-style-type: none;
  font-size: 1.5em;
  font-family: Arial;
  line-height: 1.5;
}
