/* BOOK PROFILE */

main h1{
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

#storage-container .book-container{
  margin-bottom: 0;
}

#storage-container .match-container{
  opacity: 0.7;
  transition: 1s;
}

#storage-container .match-container:hover{
  opacity: 1;
}

/* REMOVE BUTTON */

.remove-match{
  width: 100%;
  font-size: 1.5em;
  color: white;
  background-color: rgb(100,0,0);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 1em;
  transition: 1s;
}

.remove-match:hover{
  background-color: red;
  letter-spacing: 0.4em;
}
